@import "tailwindcss";


/* Theme Variables */
:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Light Mode Colors */
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  /* Dark Mode Colors */
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Apply to Body */
body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-sans;
}

/* Swiper CSS */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper{
  padding: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex!important;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination{
  position: relative;
  margin-top: 20px !important;
}
